<!DOCTYPE html>
<html ng-app="myapp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Are you in a good mood today?</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" href="Datepicker-for-Bootstrap/datepicker.css">
  <script src="Datepicker-for-Bootstrap/bootstrap-datepicker.js"></script>
<style>
	.form-control{width: 140px!important;}
	#CurrentPrice{width: 50px;}
	 .table th, .table  td { 
				text-align: center; 
			}
</style>
</head>
<body>
 <div class="container" ng-controller="myCtrl">
 	<div class="row">
 	<br>
 		 <div class="col-md-3">
 		 <table class="table">
				<tbody>
				  <tr>
					<td>Current Price (CAD):</td>
					<td>
						<span ng-click="hide()"  ng-show='showctrl' ng-bind="CurrentPrice | curr" >1</span><input id="CurrentPrice" ng-blur="show()" ng-model="CurrentPrice" ng-show='showctrl2' type="text"><i ng-show='showctrl' class="glyphicon glyphicon-pencil" style="color:red;margin-left:5px;"></i>
					</td>
				  </tr>
				  <tr>
					<td>Exchange Rate (CAD->USD):</td>
					<td ng-bind="ExchangeRate"></td>
				  </tr>
				  <tr>
				  	<td>Converted Price (USD):</td>
					<td ng-bind="ConvertedPrice | curr"></td>
				  </tr>
				  <tr>
				  	<td>Total Value (USD):</td>
					<td ng-bind="TotalValue | curr | currency :'$'"></td>
				  </tr>
				  <tr>
					<td>Current Total Value (USD):</td>
					<td ng-bind="Current | currency :'$'"></td>
				  </tr>
				  <tr>
					<td>Exchange Rate (USD->CNY):</td>
					<td ng-bind="ExchangeRateCny"></td>
				  </tr>
				  <tr>
				  	<td>Total Value (CNY):</td>
					<td><strong  ng-bind="TotalValueCny | currency:'￥'"></strong>		</td>
				  </tr>
				  <tr>
					<td>Current Total Value (CNY):</td>
					<td ng-bind="CurrentCny | currency:'￥'"></td>
				  </tr>
				</tbody>
			  </table>
 		 </div>

 		<div class="col-md-8">
 			<form class="form-inline" ng-submit="add(begin,expiration,data)">
			  <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type="text" class="form-control" id="datepicker" ng-model="begin" placeholder="Begins Time">
                </div>
           	  </div> 
               <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                   	<input type="text" class="form-control" ng-model="expiration" id="expiration" placeholder="Expiration Time">
                </div>
           	  </div>
			  <div class="form-group">
				<input type="text" class="form-control" ng-model="data.quantity" placeholder="Quantity">
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" ng-model="data.exercise" placeholder="Exercise Price(USD)">
			  </div>
			  <button type="submit" class="btn btn-default">add</button>
			</form>
			<br>
 			<table class="table table-bordered">
				<thead>
				  <tr>
					<th>operation</th>
					<th>Begins</th>
					<th>Expiration</th>
					<th>Quantity</th>
					<th>Exercise Price(USD)</th>
					<th>25%</th>
					<th>50%</th>
					<th>75%</th>
					<th>100%</th>
					<th>Total Value(USD)</th>
				  </tr>
				</thead>
				<tbody class="value">
				  <tr ng-repeat="list in dataList | orderBy">
					<td><a class="btn btn-default btn-small" ng-click="del($index)" role="button">Delete</a></td>
					<td ng-bind="list.begin | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.expiration | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.quantity | curr"></td>
					<td ng-bind="list.exercise | curr"></td>
					<td ng-bind="list.stage1  | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.stage2  | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.stage3  | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.stage4  | date:'yyyy/MM/dd'"></td>
					<td ng-bind="list.total | curr | currency:'$'"></td>
				  </tr>
				</tbody>
			  </table>
 		</div>
 	</div>
 </div>
 <script src="demoController.js">
	</script>
</body>
</html>